include CHANGELOG.rst
include LICENSE.txt
include README.rst
include requirements/base.in
include requirements/constraints.txt
recursive-include eox_scorm_proxy *.html *.png *.gif *.js *.css *.jpg *.jpeg *.svg *.py
